@font-face {
  font-family: goodTimes;
  src: url('../inc/fonts/good_times_rg.ttf');
}

@font-face {
  font-family: windlass;
  src: url('../inc/fonts/Windlass.ttf');
}

html
{
  background-color: #ccae62;
  background-image: url('../inc/pictures/leaves.gif'), url('../inc/pictures/background.jpg');
  background-position: center fixed, center fixed;
  background-repeat: no-repeat, no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
    background-color: rgba(0, 0, 0, 0);
}

.main-menu
{
    width: 50%;
    margin: 30% 25% 0 25%;
    text-align: center;
}

.selection-group
{
    height: 80px;
    line-height: 80px;
    background-color: rgba(110, 200, 100, 0.5);
    margin: 20px 0;
    font-size: 30px;
    font-family: windlass;
}

.selection-group:hover
{
    cursor: pointer;
}

.site-logo
{
    width: 50%;
    margin: 0 auto;
}

.site-logo img
{
    width: 100%;
    height: 100%;
}

.navbar
{
    padding: 15px;
    background-image: linear-gradient(rgb(71, 70, 94), rgb(141, 140, 184));
    background-image: url('../inc/pictures/texture.jpg');
    font-family: windlass;
}

.navbar .navbar-brand
{
    cursor: default;
    color: #E17055;
}

.float-div-style
{
    border: 1px solid #222528;
    background-color: rgb(26, 13, 38, 0.8);
}

.home-news
{
    height: 500px;
    margin-top: 70px;
}

.section-header
{
    background-color: rgb(102, 51, 153, 1);
    margin-bottom: 30px;
}

.section-header p
{
    display: inline-block;
    width: auto;
    background-color: rgb(86, 94, 104, 1);
    border-top: 175px;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    font-family: windlass;
}

.section-content
{
    padding: 5px 10px;
}

.sidebar
{
    height: 500px;
    margin-top: 70px;
}

.dropdown-category
{
    position: relative;
}

.dropdown-category:hover
{
    cursor: pointer;
}

.dropdown-category:hover + .games-list
{
    display: block;
}

.games-list
{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: none;
}

.games-list:hover
{
    display: block;
}

.games-list a
{
    cursor: pointer;
}

.custom-dropdown
{
    border: 1px solid #CED4DA;
    border-radius: 0;
    margin: 0;
}

.dropdown-category:hover, .games-list > a:hover
{
    border-radius: 0px;
    color: #E17055;
}

input[type="search"]:focus
{
    box-shadow: none;
    outline: 0 none;
}

.btn-custom
{
    color: #E17055;
}

.btn-custom:hover
{
    color: #D63031;
}

.statBox, .statBox div
{
    padding: 0;
}
